.root {
    -fx-base: white;
}

.tag {
    -fx-fill: #1a73e8;
}

.attribute {
    -fx-fill: #e37400;
}

.value {
    -fx-fill: #008000;
}

.highlight-line {
    -fx-background-color: #fff59d;
}

.active-paragraph {
    -fx-background-color: #d9d9d9;
}